---
aboutme: "I have had a long career in the animation field, and have worked on some great projects and with the best people in the industry."
---
{% extends base.njk %}
{% block precontent %}
								<h2>Who I am</h2>
                                {{ content | safe }}
								<p>Whatever</p>
{% endblock precontent %}
