---
title: Sheldon Arnst
owner: Sheldon Arnst
sidebar:
  - url: intro
    text: "Welcome"
  - url: one
    text: "Who I Am"
  - url: two
    text: "What I like to do"
  - url: three
    text: "Get in touch"
buttontext: "Details"
aboutme: "I have had a long career in the animation field, and have worked on some great project and with the best people in the industry."
---
{% extends "base.njk" %}
{% block content %}
    {% for portfolio in collections.portfolios %}
							<section>
								<span class="icon solid major fa-{{ portfolio.data.faIcon }}"></span>
								<h3>{{ portfolio.data.title }}</h3>
								<p>{{ portfolio.data.description }}</p>
								<ul class="actions">
									<li><a href="/{{ portfolio.data.link }}" class="button">{{ buttontext }}</a></li>
								</ul>
							</section>
    {% endfor %}
{% endblock content %}
