---
title: Sheldon Arnst
owner: Sheldon Arnst
street: "10 Piedmont Cresent"
city: "St. Albert, Alberta"
country: "Canada"
phone: "+1 (780) 458-0343"
email: "sheldon at nexusseven dot com"
sidebar:
  - url: intro
    text: "Welcome"
  - url: one
    text: "Who I Am"
  - url: two
    text: "What I Love"
  - url: three
    text: "Get in touch"
buttontext: "Details"
---
{% extends "base.njk" %}
{% block content %}
    {% for portfolio in collections.portfolios %}
							<section>
								<span class="icon solid major fa-{{ portfolio.data.faIcon }}"></span>
								<h3>{{ portfolio.data.title }}</h3>
								<!-- <p>{{ portfolio.data.description }}</p> -->
								<ul class="actions">
									<li><a href="/{{ portfolio.data.link }}" class="button">{{ buttontext }}</a></li>
								</ul>
							</section>
    {% endfor %}
{% endblock content %}
